<!DOCTYPE html>
<html lang="pl">
<head>
 <meta charset="UTF-8">
 <title>{% block title %}Guestbook{% endblock %}</title>
 {% block stylesheets %}{% endblock %}
</head>
<body>
 <nav>
 <a href="{{ path('homepage') }}">Strona główna</a>
 <a href="{{ path('about') }}">O nas</a>
 </nav>
 <main>
 {% block body %}{% endblock %}
 </main>
 <footer>© 2026 Guestbook</footer>
</body>
</html>